<div class="top">
  <!-- searchBox start -->
  <div class="searchBox">
      <h2>Task Hub</h2>
      <div class="inputBox">
          <i class='bx bx-search'></i>
          <input type="text" placeholder="ค้นหา...">
      </div>
  </div>
  <!-- searchBox end -->

  <!-- user start -->
  <div class="user">
      <div class="userImg">
          <img src="<%= userImage %>" alt="user">
      </div>
      <i class='bx bx-bell' ></i>
      <a href="/logout" type="button" class="btn-logout"><i class='bx bx-log-out'></i></a>
  </div>
  <!-- user end -->
</div>