<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="<%= userImage %>" alt="User Profile">
            </span>

            <div class="text header-text">
                <span class="name">สวัสดีคุณ <%= userName %></span>
            </div>
        </div>
        <i class="bx bx-chevron-right toggle"></i>
    </header>

    <div class="menu-bar">
        <div class="menu">
            <li class="search-box">
                <i class="bx bx-search icon"></i>
                <form method="POST" action="/dashboard/search" role="search">
                    <input type="search" placeholder="ค้นหา">
                </form>
            </li>
            <li class="nav-links">
                <a href="Dashboard.html">
                    <i class="bx bxs-bell-ring icon"></i>
                    <span class="text navbar-text">แจ้งเตือน</span>
                </a>
            </li>
            <ul class="menu-link">
                <li class="nav-links">
                    <a href="Dashboard.html">
                        <i class="bx bx-home-alt icon"></i>
                        <span class="text navbar-text">Dashboard</span>
                    </a>
                </li>

                <li class="nav-links">
                    <a href="/task">
                        <i class='bx bx-book-content icon'></i>
                        <span class="text navbar-text">วิชา</span>
                    </a>
                </li>

                <li class="nav-links">
                    <a href="#">
                        <i class="bx bx-file icon"></i>
                        <span class="text navbar-text">เอกสาร</span>
                    </a>
                </li>

                <li class="nav-links">
                    <a href="/dashboard" class="show">
                        <i class="bx bx-note icon showIcon"></i>
                        <span class="text navbar-text showText">โน็ต</span>
                    </a>
                </li>

                <li class="nav-links">
                    <a href="#">
                        <i class="bx bx-chat icon"></i>
                        <span class="text navbar-text">แชท</span>
                    </a>
                </li>

                <li class="nav-links">
                    <a href="#">
                        <i class="bx bx-calendar icon"></i>
                        <span class="text navbar-text">ปฎิทิน</span>
                    </a>
                </li>

                <li class>
                    <a href="setting.html">
                        <i class="bx bx-cog icon"></i>
                        <span class="text navbar-texy">ตั้งค่า</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>