<ul class="nav nav-tabs">
    <li class="nav-item">
        <i class='bx bxs-dashboard'></i>
        <a class="nav-link active" href="/task/task-dashboard">แดชบอร์ด</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/task/task-list">ลิสต์</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">บอร์ด</a>
    </li>
</ul>