<div class="contant">
    <h1 class="SubName"><%= subjects.SubName %></h1>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="/task/task-dashboard">
                <i class='bx bxs-dashboard'></i>
                แดชบอร์ด</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/task/task-list">ลิสต์</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">บอร์ด</a>
        </li>
    </ul>

    <div class="task-content">
        <div class="right-bar">
            <div class="shortcut">
                <h1>ทางลัด</h1>
                <div class="short-link">
                    <a href="#" class="link" id="new-task-btn"><i class='bx bx-task'></i>งานใหม่</a>
                    <a href="#" class="link"><i class='bx bx-note'></i>โน็ตใหม่</a>
                </div>
            </div>

            <div class="shortcut">
                <h1>ลิงค์ทางลัด</h1>
                <div class="short-link">
                    <a href="#" class="link" id="new-task-btn"><i class='bx bx-task'></i>งานใหม่</a>
                    <a href="#" class="link"><i class='bx bx-note'></i>ลิงค์ 1</a>
                </div>
            </div>
        </div>

        <div class="dashboard">
            <div class="top-info">
                <div class="row">
                    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="icon icon-box-success ">
                                            <i class='bx bx-task'></i>
                                        </div>
                                    </div>
                                    <h6 class="card-text">งานทั้งหมด</h6>
                                    <div class="col-9">
                                        <div class="d-flex align-items-center align-self-start">
                                            <h3 class="mb-0">10 <span>งาน</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="icon icon-box-success ">
                                            <i class='bx bx-check' style="background-color: #9BCF53;"></i>
                                        </div>
                                    </div>
                                    <h6 class="card-text">งานที่เสร็จสิ้น</h6>
                                    <div class="col-9">
                                        <div class="d-flex align-items-center align-self-start">
                                            <h3 class="mb-0">5 <span>งาน</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="icon icon-box-success ">
                                            <i class='bx bx-time-five' style="background-color: #E89271;"></i>
                                        </div>
                                    </div>
                                    <h6 class="card-text">เวลาในการทำงาน</h6>
                                    <div class="col-9">
                                        <div class="d-flex align-items-center align-self-start">
                                            <h3 class="mb-0">3 <span>ชม</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="icon icon-box-success ">
                                            <i class='bx bx-task' style="background-color: #70A1E5;"></i>
                                        </div>
                                    </div>
                                    <h6 class="card-text">ว่างงง</h6>
                                    <div class="col-9">
                                        <div class="d-flex align-items-center align-self-start">
                                            <h3 class="mb-0">100 <span>ว่าง</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="second-table">
                <div class="donut">
                    <h1>ชาร์ตแสดงปริมาณงาน</h1>
                    <canvas id="myDonutChart" width="300" height="350"></canvas>
                </div>

                <div class="task-table">
                    <h1>ตารางงาน</h1>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ชื่องาน</th>
                                    <th>ผู้รับมอบหมาย</th>
                                    <th>วันครบกำหนด</th>
                                    <th>สถานะ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>  </th>
                                    <th>ผู้รับมอบหมาย</th>
                                    <th>วันครบกำหนด</th>
                                    <th>สถานะ</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="sidebar-popup" id="sidebar-popup">
    <div class="side-top">
        <i class='bx bxs-chevrons-right' id="close-task-btn"></i>
        <i class='bx bx-expand'></i>
    </div>

    <div class="add-task-form">
        <div class="top-form">
            <i class='bx bx-task' ></i>
            <p>เพิ่มงานใหม่</p>
        </div>

        <form action="/addTask" method="POST" class="form">
            <table class="add-input">
                <tr>
                    <td>
                        <i class='bx bx-rename' ></i>
                        ชื่องาน
                    </td>
                    <td>
                        <input type="text" id="taskName" name="taskName" placeholder="กรอกชื่องาน">
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class='bx bxs-calendar' ></i>
                        วันครบกำหนด
                    </td>
                    <td>
                        <div id="calendar-container">
                            <input type="text" id="datepicker" name="datepicker" placeholder="Select Date" style="width: 150px; padding-right: 10px;">
                          </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class='bx bxs-purchase-tag-alt' ></i>
                        แท็กงาน
                    </td>
                    <td>
                        <input type="text" id="taskTag" name="taskTag" placeholder="เพิ่มแท็กงาน">
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top; padding-top: 5px;">
                        <i class='bx bxs-receipt'></i>
                        รายละเอียดงาน
                    </td>
                    <td>
                        <textarea id="detail" name="detail" rows="4" cols="50" placeholder="กรอกรายละเอียดงาน"></textarea>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="subjectId" id="subjectId" value="<%= subjects._id %>">
            <div class="all-btn">
                <button type="button" onclick="clearFields()"><i class='bx bx-rotate-right'></i>เครียร์</button>
                <button type="submit">เสร็จสิ้น</button>
            </div>
        </form>
    </div>
</div>
<div class="overlay" id="overlay"></div>

<script src="/chart.js"></script>