<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
  </head>
  <body>
    <div class="warpper">
      <form action="/user/login" method="POST">
        <h1 class="title">เข้าสู่ระบบ</h1>
        <% if (error && error.length > 0) { %>
          <div class="alert"><%= error.join(', ') %></div>
        <% } %>        
        <input type="hidden" name="_csrf" value="<%= csrfToken %>"> <!-- เพิ่ม CSRF token -->
        <div class="input-box">
          <span class="span-text">ชื่อผู้ใช้:</span>
          <input
            type="text"
            name="username"
            placeholder="ชื่อผู้ใช้"
            required
          />
          <i class="bx bxs-user"></i>
        </div>
        <div class="input-box">
          <span class="span-text">รหัสผ่าน:</span>
          <input
            type="password"
            name="password"
            placeholder="รหัสผ่าน"
            required
          />
          <i class="bx bxs-lock-alt"></i>
        </div>

        <div class="forgot">
          <label>
            <input type="checkbox" name="remember" id="remember" />จดจำฉัน
          </label>
          <a href="/forgot-password">ลืมรหัสผ่าน</a>
        </div>

        <button type="submit" class="btn">เข้าสู่ระบบ</button>
        

        <div class="register">
          <p>
            คุณยังไม่มีบัญชีใช่หรือไม่
            <a href="/register">สมัครสมาชิกเลย!</a>
          </p>
        </div>
      </form>
    </div>
  </body>
</html>
