<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add-task</title>
    <link rel="stylesheet" href="/css/task.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/nav_menu.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .item2 ul {
            padding: 0;
        }

        .item2 ul li {
            list-style: none;
            font-size: 17px;
            padding: 12px 8px 12px 20px;
            user-select: none;
            cursor: pointer;
            position: relative;
        }

        .item2 ul li span {
            position: absolute;
            right: 0;
            top: 5px;
            width: 40px;
            height: 40px;
            font-size: 22px;
            color: #ffffff;
            line-height: 40px;
            text-align: center;
            border-radius: 50%;
        }

        .item2 ul li span:hover {
            background: #edeef0;
        }
    </style>
</head>

<body>
    <%- include('./partials/nav_menu.ejs') %>

        <div class="grid-container">
            <div class="item1">
                เพิ่มข้อมูลงาน
            </div>
            <div class="item2">
                <form id="taskForm" action="/addTask" method="post" enctype="multipart/form-data">
                    <div class="taskname">
                        <input style="background-color: #181818;" name="taskname" type="text" placeholder="ชื่องาน" required
                            autocomplete="off" required>
                    </div>

                    <div class="taskdetail">
                        <textarea name="taskdetail" placeholder="รายละเอียด" required></textarea>
                    </div>
                    <div class="add-todo">
                        <input type="text" id="input-box" placeholder="เพิ่มลิสต์">
                        <button type="button" id="addtodo" onclick="addTodo()">เพิ่ม</button>
                    </div>

                    <ul id="list-addtodo">
                        <!-- <li class="checked-todo">Task1</li> -->
                    </ul>

                    <div class="addfile">
                        <label for="myfile">Select files:</label>
                        <input type="file" id="myfile" name="myfile" multiple>
                    </div>
                    <ul id="file-list"></ul>
                    <button type="submit">สร้างงาน</button>
                    <button type="button" id="cancelButton">ยกเลิก</button>
                </form>
            </div>
        </div>

        <script src="/script/nav_menu.js"></script>
        <script>
            document.getElementById('cancelButton').addEventListener('click', function() {
                window.location.href = '/task';
            });
        </script>
</body>

</html>