<div class="contant">
    <div class="row head">
        <div class="col">
          <h1 style="font-weight: 500; color: #707070;">รายวิชาทั้งหมด</h1>
        </div>
        <div class="col text-end">
          <a href="#" class="add-btn btn-primary btn">+ เพิ่มรายวิชาใหม่</a>
        </div>
    </div>
    <div class="line"></div>
</div>
<!-- content -->

<!-- popup -->
<div class="popup">
    <div class="popup-content">
        <form action="/login" method="POST">
            <h1>เพิ่มรายวิชาใหม่</h1>

            <div class="input-box">
                <span class="span-text">ชื่อรายวิชา:</span>
                <input type="text" name="username" placeholder="วิชา" required>
            </div>


            <div class="input-box">
                <span class="span-text">คำอธิบาย:</span>
                <textarea placeholder="คำอธิบาย"></textarea>
            </div>

            <div class="form-btn">
                <a class="close-btn">ยกเลิก</a>
                <button type="submit" class="btn">สร้าง</button>
            </div>

        </form>
    </div>
</div>