<div class="popup">
    <div class="popup-content">
        <form action="/createSubject" method="POST">
            <h1>เพิ่มรายวิชาใหม่</h1>
            <div class="input-box">
                <span class="span-text">ชื่อรายวิชา:</span>
                <div class="form-floating">
                    <input type="text" class="form-control" name="SubName" id="SubName" placeholder="วิชา" required>
                    <label for="SubName">วิชา</label>
                </div>
            </div>


            <div class="input-box">
                <span class="span-text">คำอธิบาย:</span>
                <textarea name="SubDescription" id="SubDescription" placeholder="คำอธิบาย"></textarea>
            </div>

            <div class="form-btn">
                <a class="close-btn">ยกเลิก</a>
                <button type="submit" class="btn">สร้าง</button>
            </div>
        </form>
    </div>
</div>